<p>Carrello</p>


<head>
    <style>

      img{
        height: 88%;
        width: 88%;

        }

    </style>
  </head>
  <body>

    <button  (click)="getProdottiInCarrello( 1 )" color="primary">carrello1</button>
    <button  (click)="getProdottiInCarrello( 2 )" color="primary">carrello2</button>


    <div fxFlex fxLayout="column" fxLayoutGap="10px" style="height: 80vh">

        <div
          *ngFor="let prodotto of prodottiIncarrello"
          fxFlex="25"
          fxFlex.md="33"
          fxFlex.sm="50"
          fxFlex.xs="80"
          fxLayout="column"
          style="padding: 5px;"
        >
          <!-- cards here -->
          <mat-card class="mat-elevation-z1">
            <img mat-card-image [src]="prodotto.path" />
            <mat-card-title> {{ prodotto.name }} </mat-card-title>
            <mat-card-content> {{ prodotto.name }} </mat-card-content>
            <mat-card-footer class="form-group form-inline">
              <button  (click)="onChange(prodotto,-1)" color="primary">-</button>
                <input [(ngModel)]="prodotto.num" placeholder="num"/>
                <button  (click)="onChange(prodotto,+1)" color="primary">+</button>







            </mat-card-footer>
          </mat-card>
        </div>
      </div>




  </body>

