

<header>
  <style>
      img {
          width: 10%;
          height: 10%;

      }
  </style>

</header>

<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
  <!--<a class="navbar-brand" routerLink="">Angular Routing</a>-->
  <button class="navbar-toggler" type="button" (click)="toggleNavbar()" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [ngClass]="{ 'show': true  }">  <!-- { 'show': navbarOpen  }-->
    <ul class="navbar-nav">

      <li class="nav-item active">
        ----{{currentUser.num}}----
        <a class="nav-link" routerLink="" routerLinkActive="active">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item"        matBadgeColor="accent">
           <a class="nav-link"  routerLink="carrello" routerLinkActive="active" matBadge="15" matBadgeColor="info" matBadgePosition="before">Carrello</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="logout()" routerLinkActive="active">Logout</a>
      </li>
    </ul>
  </div>
</nav>

<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="!currentUser">
  <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/">Home</a>
      <a class="nav-item nav-link"  routerLink="register" routerLinkActive="active">Registrati
        <button mat-raised-button color="primary" routerLink="register" routerLinkActive="active"
        matBadge="8" matBadgePosition="before" matBadgeColor="accent">

    </button> </a>
    <a class="nav-item nav-link" routerLink="usersettings">UserSetting</a>
 <!--   <a class="nav-item nav-link" routerLink="geolocalize"> <mat-icon> add_location</mat-icon></a>-->


      <!--
      <a class="nav-item nav-link" routerLink="test/popup/alert-cookies">test/popup/alert-cookies</a>-->
   </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
