<header>
</header>


<mat-toolbar color="primary" *ngIf="currentUser">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon><!-- -->
    </button>
    <h1>BresciaShop</h1>
    <span class="menu-spacer"></span>
    <div>
      <a mat-button [routerLink]="'/Home'"> Prodotti </a>
      <a class="nav-link"  routerLink="carrello" routerLinkActive="active">Carrello
        <button mat-raised-button color="primary" routerLink="carrello" routerLinkActive="active" matBadge="{{getCount()}}" matBadgePosition="before" matBadgeColor="accent"></button>
       </a>
 <!--  <a mat-button [routerLink]="'/contacts'"> Conttatti </a>-->
      <a mat-button  class="nav-link" (click)="logout()"  [routerLink]=""routerLinkActive="active">Logout</a>
    </div>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <div style="height: 88vh;">
<div class="container">

  <div class="search-wrapper cf">
    <input type="text" #inp>
    <button (click)="undefined">Cerca</button>
  </div>
</div>
</div>

  </mat-toolbar-row>
</mat-toolbar>

<mat-toolbar color="primary" *ngIf="!currentUser">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon >menu</mat-icon>
    </button>
    <h1>BresciaShop</h1>
    <span class="menu-spacer"></span>
    <div>
      <a mat-button [routerLink]="'/negozi'"> Negozi </a>
      <a class="nav-link"  routerLink="login" routerLinkActive="active">Login
        <button mat-raised-button color="primary" routerLink="login" routerLinkActive="active" ></button>
       </a>
      <a class="nav-link"  routerLink="register" routerLinkActive="active">Registrati
        <button mat-raised-button color="primary" routerLink="register" routerLinkActive="active" ></button>
       </a>

    </div>
  </mat-toolbar-row>


</mat-toolbar>



<router-outlet></router-outlet>
<!--
<app-side-menu></app-side-menu>-->

<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>

      <a mat-list-item [routerLink]="'/accounts'"> Accounts </a>
      <a mat-list-item [routerLink]="'/create-account'"> Create Account </a>
      <a mat-list-item [routerLink]="'/contacts'"> Contacts </a>
      <a mat-list-item [routerLink]="'/create-contact'"> Create Contact </a>
      <a mat-list-item class="topnav-right" (click)="sidenav.toggle()" href="" mat-list-item>Close</a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 80vh;">
      <div class="container">

        <div class="search-wrapper cf">
          <input type="text" #inp>
          <button (click)="undefined">Cerca</button>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
     <!--  <div *ngFor="let message of messages" class="alert alert-success">{{message.text}}</div>-->

