

<head>
  <style>

    img{
      height: 100%;
      width: 100%;

      }

  </style>
</head>
<body>
<!---->


<div class="container">
  <mat-form-field class="search-form">
        <input matInput placeholder="Search Picture" type="text">
      </mat-form-field>
      <button button="submit" mat-raised-button color="primary">Search</button>
      <br>
        <!--  <mat-card class="card-picture" *ngFor="let hero of heroes">
          <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
            <span fxFlex="80%">{{hero.name}}</span>
            <mat-icon fxFlex="10%">mode_edit</mat-icon>
            <mat-icon fxFlex="10%">delete</mat-icon>
          </mat-card-title>
          <img mat-card-image [src]="hero.path">
        </mat-card>-->

        <mat-card class="card-picture" *ngFor="let hero of heroes">
            <mat-card-header>
              <mat-card-title>{{hero.name}}</mat-card-title>
              <mat-card-subtitle>{{hero.name}}</mat-card-subtitle>
            </mat-card-header>

            <mat-card-content>  <img mat-card-image [src]="hero.path"></mat-card-content>
          <mat-card-footer>
             <button button="submit" mat-raised-button mat-icon-button color="primary">+</button>
             <button button="submit" mat-raised-button mat-icon-button color="primary">-</button>
          </mat-card-footer>
          </mat-card>

        </div>

</body>
